<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>me.snowzjx.relatedworks</string>
    <key>CFBundleName</key>
    <string>RelatedWorks</string>
    <key>CFBundleDisplayName</key>
    <string>RelatedWorks</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>me.snowzjx.relatedworks</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>relatedworks</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
